#weekDayButton {
	background: rgb(200, 200, 200);
}
#weekDayButtonACTIVE {
	background: #78B2E0;
}
#weekEndButton {
	background: rgb(200, 200, 200);
}

#weekEndButtonACTIVE {
	background: #78B2E0;
}
#SundayButton {
	background: rgb(200, 200, 200);
}
#SundayButtonACTIVE {
	background: #78B2E0;
}
#MondayButton {
	background: rgb(200, 200, 200);
}

#MondayButtonACTIVE {
	background: #78B2E0;
}
#TuesdayButton {
	background: rgb(200, 200, 200);
}

#TuesdayButtonACTIVE {
	background: #78B2E0;
}
#WednesdayButton {
	background: rgb(200, 200, 200);
}

#WednesdayButtonACTIVE {
	background: #78B2E0;
}
#ThursdayButton {
	background: rgb(200, 200, 200);
}

#ThursdayButtonACTIVE {
	background: #78B2E0;
}
#FridayButton {
	background: rgb(200, 200, 200);
}

#FridayButtonACTIVE {
	background: #78B2E0;
}
#SaturdayButton {
	background: rgb(200, 200, 200);
}

#SaturdayButtonACTIVE {
	background: #78B2E0;
}